<div>
  <div (mouseleave)="showDropDown = false">
    <button
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      (click)="showDropDown = !showDropDown"
    >
      <span *ngIf="checkedList.length <= 0">Choose Products</span>
      <span *ngIf="checkedList.length > 0">{{
        checkedList.length + " selected"
      }}</span>
      <i class="fa fa-angle-down"></i>
    </button>
    <div class="drop-show" *ngIf="showDropDown">
      <div
        [ngClass]="{ 'bg-green-300': a.checked }"
        class="flex items-center"
        *ngFor="let i = index; let a; of: list"
      >
        <label
          class="my-2 ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >
          <!-- <input
            type="checkbox"
            [(ngModel)]="a.checked"
            (change)="getSelectedValue(a.checked, a.title)"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          /> -->
          <!-- move selected item to top in dropdown -->
          <input
            type="checkbox"
            [(ngModel)]="a.checked"
            (change)="onChange(a.checked, a, i)"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          />
          <span>{{ a.title }}</span>
        </label>
      </div>
    </div>
  </div>
</div>
