<div class="wrapper">
  <form
    [formGroup]="formCreateProduct"
    id="regForm"
    class="space-y-4"
    enctype="multipart/form-data"
    (ngSubmit)="onSubmit(formCreateProduct)"
  >
    <div>
      <div>
        <label for="title" class="label-input">Name</label>
        <input
          formControlName="title"
          id="title"
          type="text"
          name="title"
          class="input-name"
        />
      </div>
      <div
        *ngIf="
          formCreateProduct?.get('title')?.invalid &&
          (formCreateProduct?.get('title')?.dirty ||
            formCreateProduct?.get('title')?.touched)
        "
      >
        <p *ngIf="formCreateProduct.get('title')?.errors" class="error-msg">
          {{ (formCreateProduct.get('title')?.errors?.['required']) ? 
              "Name is required" :
              (formCreateProduct.get('title')?.errors?.['noWhitespaceMinLength']) ?
              "Name must be at least 4 characters long" : ""
          }}
        </p>
      </div>
    </div>

    <div>
      <div>
        <label for="description" class="label-input">Description</label>
        <textarea
          rows="4"
          id="description"
          class="input-desc"
          name="description"
          formControlName="description"
        ></textarea>
      </div>
      <div
        *ngIf="
          formCreateProduct?.get('description')?.invalid &&
          (formCreateProduct?.get('description')?.dirty ||
            formCreateProduct?.get('description')?.touched)
        "
      >
        <p
          *ngIf="formCreateProduct.get('description')?.errors"
          class="error-msg"
        >
          {{ 
            (formCreateProduct.get('description')?.errors?.['required']) ? 
            "Description is required" :
          (formCreateProduct.get('description')?.errors?.['noWhitespaceMinLength']) ?
            "Description must be at least 6 characters long" : ""
          }}
        </p>
      </div>
    </div>

    <div>
      <label for="price" class="label-input">Price</label>
      <input
        formControlName="price"
        id="price"
        type="number"
        min="0"
        name="price"
        class="input-name"
        accept="image/*"
      />
    </div>

    <div
      *ngIf="
        formCreateProduct?.get('price')?.invalid &&
        (formCreateProduct?.get('price')?.dirty ||
          formCreateProduct?.get('price')?.touched)
      "
    >
      <p *ngIf="formCreateProduct.get('price')?.errors" class="error-msg">
        {{ 
            (formCreateProduct.get('price')?.errors?.['required']) ? 
            "Price is required" :
          (formCreateProduct.get('price')?.errors?.['min']) ?
            "Price value must be greater than 0" : ""
        }}
      </p>
    </div>

    <div>
      <img
        *ngIf="productImgUrl"
        class="max-w-xs img-show-wrapper"
        src="{{ productImgUrl }}"
        alt="product image"
      />
      <div>
        <label class="label-input" for="image">Image</label>
        <input
          (change)="selectFile($event)"
          formControlName="image"
          id="image"
          name="image"
          class="input-img"
          type="file"
        />
      </div>
    </div>

    <button type="submit" class="btn-action-primary">Submit</button>
  </form>
</div>
